<?xml version='1.0' encoding='utf-8'?>
<widget id="gls.wallet" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GOLOS Кошелек</name>
    <description>Удобный кошелек, обменник, внутренняя биржа токенов на блокчейне Golos.</description>
    <content src="/" />
	<access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="res/icon-ldpi.png" density="ldpi" />
        <icon src="res/icon-mdpi.png" density="mdpi" />
        <icon src="res/icon-hdpi.png" density="hdpi" />
        <icon src="res/icon-xhdpi.png" density="xhdpi" />
        <icon src="res/icon-xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon-xxxhdpi.png" density="xxxhdpi" />

        <splash src="res/screen/android/splash-ldpi.png" density="ldpi" />
        <splash src="res/screen/android/splash-mdpi.png" density="mdpi" />
        <splash src="res/screen/android/splash-hdpi.png" density="hdpi" />
        <splash src="res/screen/android/splash-xhdpi.png" density="xhdpi" />
        <splash src="res/screen/android/splash-xxhdpi.png" density="xxhdpi" />
        <splash src="res/screen/android/splash-xxxhdpi.png" density="xxxhdpi" />

        <splash src="res/screen/android/land/splash-land-ldpi.png" density="land-ldpi" />
        <splash src="res/screen/android/land/splash-land-mdpi.png" density="land-mdpi" />
        <splash src="res/screen/android/land/splash-land-hdpi.png" density="land-hdpi" />
        <splash src="res/screen/android/land/splash-land-xhdpi.png" density="land-xhdpi" />
        <splash src="res/screen/android/land/splash-land-xxhdpi.png" density="land-xxhdpi" />
        <splash src="res/screen/android/land/splash-land-xxxhdpi.png" density="land-xxxhdpi" />

        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="SplashScreenSpinnerColor" value="#37a5ff" />

        <resource-file src="res/wlt_setting.png" target="app/src/main/res/drawable/wlt_setting.png" />
    </platform>
</widget>