.NFTTokenPage {
    padding: 1rem;
    flex: 1;
    width: 100%;

    .container {
        display: flex;
        width: 100%;
    }
    .buttons {
        align-self: flex-end;
        display: flex;
        width: 100%;
    }
    .my_bet {
        padding-left: 5px;
        padding-top: 5px;

        span {
            vertical-align: middle;
            margin-left: 2px;
            margin-right: 2px;
        }
    }
    .my_offer {
        padding-top: 10px;
    }
    .my_auction {
        padding-left: 5px;
    }

    img {
        max-width: 320px;
        max-height: 320px;
    }

    .Expandable {
        margin-bottom: 0.5rem;
        padding-bottom: 0px;
        width: 100%;
        .Expander {
            margin-bottom: 0rem;
            h5 {
                font-size: 1rem;
            }
        }
    }

    .price-icon {
        width: 20px;
        height: 20px;
        margin-right: 0.25rem;
    }

    .button {
        margin: 0px !important;
        margin-top: -4px !important;
        margin-left: 10px !important;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .sell-button {
        position: relative;
        display: inline-block;
    }
    .Hint__content {
        padding: 0px;
        min-width: 50px;
        .Hint__inner {
            .VerticalMenu {
                white-space: nowrap;
                width: auto;
            }
        }
    }

    .token-link {
        margin-top: 0.5rem;

        &.first {
            margin-top: 0rem;
        }

        .text {
            margin-left: 0.5rem;
            vertical-align: middle;
        }
    }
}
