.App-search {
    margin: 60px 100px 0px 100px;
}

.esearch-box {
    margin-top: 15px;
}

.esearch-input {
    width: calc(99% - 280px);
    display: inline-block;
    margin-right: 10px;
}

.esearch-settings {
    margin-top: 10px;
    margin-bottom: 10px;
}

.esearch-box select {
    margin-top: 1px;
    width: 180px;
}

.esearch-settings input {
    width: 180px;
    display: inline-block;
}

.esearch-btn-alltime {
    margin-top: -2px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.multiselect-container {
    display: inline-block;
    width: auto !important;
}

.golossearch-results h6 {
    margin-bottom: 0px;
    font-size: 1.2em;
}

.golossearch-results em {
    background-color: yellow;
    font-style: normal;
}

.golossearch-results img  {
    display: none;
}

.gsc-search-box table {
    margin-bottom: 0px;
}

.another-search {
    font-size: 1.5em;
    margin: 30px;
}

@media screen and (max-width: 39.9375em) {
    .App-search {
        margin: 10px;
    }
    .esearch-input {
        width: 100%;
    }
    .esearch-settings input {
        width: 150px;
    }
    .another-search {
        font-size: 1.3em;
    }
}