.UserProfile {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  &__menu {
    display: flex;

    & > * {
      flex-shrink: 0;
    }
  }

  &__filler {
    flex-grow: 1;
  }

  &__buttons-wrapper {
    position: relative;
  }

  &__buttons {
    position: absolute;
    top: 15px;
    right: 5px;

    label.button {
      color: black;
      border-radius: 3px;
      background-color: white;
    }
  }

  &__buttons-mobile {
    display: none;
  }
}

.UserProfile__center {
    margin: 60px auto;
}

.UserProfile__tab_content {
    margin-top: 1.5rem;
}

.UserProfile__top-nav {
  background-color: $black;
  padding: 0;
  width: 100%;
  .row {
    .columns {
      overflow-x: auto;
    }
  }
  .menu {
    background-color: transparent;
  }
  .UserProfile__menu-item {
    display: inline-block;
    transition: background-color 200ms ease-in, color 200ms ease-in;
    transform: translate3d( 0, 0, 0);
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    color: $white;
    background-color: transparent;
    line-height: 1.5rem;

    &:hover {
        background-color: #555;
    }
    &.active {
        background-color: $white;
        z-index: 2;
        color: $black;
        font-weight: bold;
    }
  }

  div.UserProfile__top-menu {
      max-width: 71.42857rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      // Override default svg vertical alignment
      .Icon > svg, .Icon span.icon {
          vertical-align: middle!important;
      }
  }
}

.UserProfile__section-title {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #EEE;
}

.UserProfile__banner {
    text-align: center;
    color: $white;
    width: 100%;
    a {
        color: $white;
    }
    > div.column {
        background: #23579d; /* for older browsers */
        background: linear-gradient(to bottom, #1a4072 0%, #23579d 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        text-shadow: 1px 1px 4px black;
        
        .button {
            text-shadow: none;
        }

        min-height: 155px;
    }
    h1 {
        padding-top: 20px;
        font-weight: 600;
        font-size: 1.84524rem!important;
        @media screen and (max-width: 39.9375em) {
            font-size: 1.13095rem!important;
        }
    }
    .Icon {
        margin-left: 1rem;
        svg {fill: #def;}
    }

    .Userpic {
        margin-right: 0.75rem;
        vertical-align: middle;
    }

    .GameLevel {
        margin-left: 0.75rem;
        height: 48px;
    }

    .UserProfile__rep {
        font-size: 80%;
        font-weight: 200;
    }

    .UserProfile__rep-btn {
       cursor: pointer;
    }

    .UserProfile__bio {
        margin: -0.4rem auto 0.5rem;
        font-size: 95%;
        max-width: 420px;
        line-height: 1.4;
    }
    .UserProfile__info {
        font-size: 90%;
    }

    .UserProfile__frozen {
        margin-top: 0.5rem;
        a:hover {
            text-decoration: underline;
        }
    }

    .UserProfile__stats {
        margin-bottom: 5px;
        padding-bottom: 5px;
        font-size: 90%;

        a {
            @include hoverUnderline;
            vertical-align: middle;
	    }

        > span {
            padding: 0px 10px;
            border-left: 1px solid #CCC;
            &:first-child {border-left: none;}
        }

        .NotifiCounter {
            position: relative;
            top: -5px;
        }
    }
}

.UserProfile__rep-panel {
    .Icon {
        margin-left: 5px;
    }
    .UserProfile__rep-btn-up {
        circle {
            stroke: #4BA2F2;
            fill: #4BA2F2;
        }
        path {
            fill: #FFFFFF;
        }
    }
    .UserProfile__rep-btn-up:hover:not(.disabled) {
        circle {
            stroke: #4BA2F2;
            fill: #FFFFFF;
        }
        path {
            fill: #4BA2F2;
        }
    }
    .UserProfile__rep-btn-up.disabled {
        circle {
            stroke: #FFFFFF;
            fill: transparent;
        }
        path {
            fill: #FFFFFF;
        }
    }
    .UserProfile__rep-btn-down {
        circle {
            stroke: #fc544e;
            fill: #fc544e;
        }
        path {
            fill: #FFFFFF;
        }
    }
    .UserProfile__rep-btn-down:hover:not(.disabled) {
        circle {
            stroke: #fd8582;
            fill: #FFFFFF;
        }
        path {
            fill: #fd8582;
        }
    }
    .UserProfile__rep-btn-down.disabled {
        circle {
            stroke: #FFFFFF;
            fill: transparent;
        }
        path {
            fill: #FFFFFF;
        }
    }

    .LoadingIndicator {
        display: inline-block;
        height: 20px;
        margin-left: 10px;
    }
}

.UserWallet__balance {
    > div:nth-child(2) {
        text-align: right;
    }
}

.CreateInvite__copy-button {
  cursor: pointer;

  .Icon {
    width: 2.12rem;
    height: 2.12rem;

    & > svg {
      width: 2.12rem;
      height: 2.12rem;
      vertical-align: top;
    }
  }
}

.Assets__header {
  display: inline-block;  
}

.Assets__disabled {
  color: rgb(150, 150, 150); 
  cursor: default; 
}

.Assets__info {
  font-size: 90%;
}

.Assets__center {
  text-align: center;
}

.Assets__cost {
  font-weight: bold !important;
}

.Assets__marginTop {
  margin-top: 13px;
}

.Assets__marginTop2 {
  margin-top: 5px;
}

.Assets__marginRight {
  margin-right: 6px;
}

.Assets__marginBottom {
  margin-bottom: 3px;
}

.Assets__noMarginBottom {
  margin-bottom: 0px;
}

.Assets__inlineBtn {
  margin-bottom: 0px;
  margin-left: 0.5rem;
  margin-right: 0px !important;
}

.FilledOrders__market-link {
    svg {
        fill: #0078C4;
    }
}

.FilledOrders__convert-link {
    svg {
        fill: #0078C4;
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 39.9375em) {

    .UserProfile__menu-item {
        padding: 8px;
    }

    .UserProfile__top-menu > div.columns {
        padding-left: 0;
        padding-right: 0;
    }

    .UserProfile__banner .Userpic {
        width: 36px !important;
        height: 36px !important;
    }

    .GameLevel {
        height: 36px !important;
    }

    .UserWallet__balance {
        > div:last-of-type {
            text-align: left;
        }
    }

    .UserReward__row {
        > div:last-of-type {
            padding-left: 20px;
        }
    }
}

@media screen and (max-width: 400px) {
  .UserProfile {
    &__filler {
      display: none;
    }
  }
}

@media screen and (max-width: 60em) {
  .UserProfile {
    &__buttons {
      display: none;
    }

    &__buttons-mobile {
      display: block;
      margin-bottom: .5rem;

      .button {
        background-color: $white;
        color: $black;
      }
    }
  }
}
