.Request__Footer_left {
    float: left;
}

.Request__Footer_right {
    float: right;
}

.VoteList ul {
  min-width: 240px;
  width: auto;

  li > a {
    padding: 0 0.5rem;
    line-height: 1.25;
    position: relative;
  }

  li > span {
    padding: 0 0.5rem;
    line-height: 1.25;
  }

  li > a > span {
    position: absolute;
    right: 15px;
  }
}

.Workers__votes_pagination {
  display: inline-block !important;
  width: 100px;
  font-size: 85%;
}

