.App-workers {
  max-width: 75rem;
  margin: auto;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.App-center {
  text-align: center;
}

.Input__Inline {
  width: auto !important;
  display: inline-block !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.inline {
  width: auto;
}

.Workers__green {
   color: rgb(20,180,60);
}

.Workers__red {
   color: rgb(252,84,78);
}

.Workers__gray {
   color: rgb(242,242,242);
}

.Workers__green_bg {
   background-color: rgb(20,180,60);
}

.Workers__red_bg {
   background-color: rgb(252,84,78);
}

.Workers__gray_bg {
   background-color: rgb(204,204,204);
}

.Workers__title {
  display: inline-block;
}

.Workers__author {
  display: inline-block;
  padding-top: 5px;
}

.Workers__created {
    font-size: 85%;
}

.Workers__progressbar {
  display: inline-block;
  text-align: center;
  color: white;
}

@media screen and (max-width: 39.9375em) {
    .App-workers {
        margin: 10px;
    }
}

@import "./AddEditWorkerRequest";
@import "app/components/elements/WorkerFunds";
@import "./ViewWorkerRequest";
