.NFTAuction {
    .column {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .error {
        margin-bottom: 0px;
    }
    .callout {
        margin-top: 0.75rem;
        font-size: 90%;
    }
}
