.NFTCollections {
    .market-stats {
        font-size: 90%;
    }
    .price-icon {
        width: 20px;
        height: 20px;
        margin-right: 0.25rem;
    }
    .price-val { 
        display: inline-block;
        vertical-align: middle;
    }

    .button {
        margin-left: 0.5rem;
        margin-right: 0rem;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 39.9375em) {
    .NFTCollections {
        .DropdownMenu:not(.show) > .VerticalMenu {
            min-width: auto;
        }
        .DropdownMenu > .VerticalMenu {
            transform: translateX(-90%);
        }
        .DropdownMenu:not(.show) > .VerticalMenu {
            display: none;
        }
    }
}
