@use '@styles/themes' as t;

.HorizontalMenu {
  .active > a {
    background: none;
    color: $black;
    font-weight: 600;
  }
  li > a:hover {
    @include t.themify(t.$themes) using ($theme) {
      color: t.themed('textColorPrimary', $theme);
    }
  }
  > li:first-child > a {
    padding-left: 0;
  }
  > li:last-child > a {
    padding-right: 0;
  }
}
