.NewsPopups {
    @include themify($themes) {
        background-color: themed('modalReminder') !important;
    }
    color: #333;
    border-radius: 5px;
    position: fixed;
    left: 20px;
    bottom: 1px;
    padding-right: 5rem;
    cursor: pointer;

    .close-button {
        margin-top: 4px;
    }
}
