.NFTMarketCollections {
    margin-top: 6px;
    margin-left: 10px;
    vertical-align: top;

    .NFTSmallIcon {
        margin-top: 0.25rem;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 39.9375em) {
    .NFTMarketCollections {
        margin-left: 0px;
        font-size: 120%;
    }
}
