.NFTTokenItem {
    display: inline-block;
    border: 1px solid rgba(128,128,128,0.45);
    border-radius: 5px;
    margin-right: 1rem;
    margin-bottom: 1em;
    padding: 0.5rem;
    cursor: pointer;
    position: relative;

    .token-owner {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: white;
        border: 1px solid rgba(128,128,128,0.45);
        border-radius: 8px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 90%;
    }

    &.collection {
        background-color: rgb(226, 247, 223);
    }

    .token-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .price-icon {
        width: 20px;
        height: 20px;
        margin-right: 0.25rem;
    }
    .auction-time {
        @include themify($themes) {
          color: themed('textColorPrimary');
        }
    }
    .my-bet-offer {
        padding-bottom: 3px;
        cursor: default;
        .Icon {
            color: red;
            margin-left: 0.5rem;
            cursor: pointer;
        }
    }

    .token-title {
        margin-top: 0.25rem;
        margin-bottom: 0.1rem;
    }
    .token-coll {
        display: inline-block;
        margin-bottom: 0.35rem;
    }

    .button {
        margin: 0px !important;
        margin-right: 5px !important;
    }
    .button:hover {
        background-color: #016aad !important;
    }
    .button.hollow.noborder {
        border: 0px;
    }
    .button.hollow:hover {
        background-color: transparent !important;
    }
    .sell-button {
        position: relative;
        display: inline-block;
    }
    .Hint__content {
        padding: 0px;
        min-width: 50px;
        .Hint__inner {
            .VerticalMenu {
                white-space: nowrap;
                width: auto;
            }
        }
    }
}

.NFTTokenItem:hover {
    background-color: rgba(208,208,208,0.45);
    border: 1px solid rgba(128,128,128,0.45);

    &.collection {
        background-color: rgb(206, 247, 203);
    }
}
