.ConvertAssets {
    &__description {
        display: inline-block;
        margin-left: 1.5rem;
        vertical-align: top;
        margin-top: 0.1rem;

        border: 1px solid rgb(230, 230, 230);
        background-color: rgb(242, 242, 242);
        padding: 0.5rem;

        &.clickable {
            cursor: pointer;

            b {
                color: rgb(24, 24, 24);
            }
        }
        &.clickable:hover {
            .ConvertAssets__link {
                text-decoration: underline;
            }
        }
    }
    &__link {
        color: #0078C4;
        cursor: pointer;
        font-weight: 600;
    }

    .MarketLink {
        svg {
            fill: #0078C4;
        }
    }

    .RadioButton__label-text {
        font-size: 120%;
        color: black !important;
        margin-left: 8px;
    }
}
