.ConvertAssets {
    &__description {
        display: inline-block;
        margin-left: 1.5rem;
        vertical-align: top;
        margin-top: 0.1rem;
    }
    &__link {
        color: #0078C4;
        cursor: pointer;
        font-weight: 600;
    }

    .MarketLink {
        svg {
            fill: #0078C4;
        }
    }
}
