.TipBalance {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.75rem;
  text-align: center;
  width: 155px;
  font-size: 95%;

  .VerticalMenu {
    width: 155px;
    min-width: 155px;
  }

  &.mini {
    font-size: 80%;
  }

  &.micro {
    font-size: 70%;
  }
}

.Withdrawal__way {
  display: inline-block;
  margin-right: 1rem;

  label {
    color: #0078C4;
    text-transform: none;
    cursor: pointer;
    font-size: 100%;
    user-select: none;

    input {
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

.Transfer__encrypted {
  color: #009600;
}

.Transfer__wrong-encrypt {
  color: red;
}
