.PresetSelector {
  border-radius: 0px;
  margin-left: -1px !important;
  margin-right: 0px !important;

  border: 1px solid #0078C4 !important;
  color: #0078C4 !important;
  font-size: 1em;
  min-width: 55px;
}

.PresetSelector:nth-child(n+3):nth-last-child(n+3) {
}

.PresetSelector:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.PresetSelector:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.PresetSelector:hover {
  border: 1px solid #002080 !important;
  color: #002080 !important;
  position: relative;
  z-index: 10;
}

.PresetSelector__active {
  border: 1px solid #002080 !important;
  color: #002080 !important;
  position: relative;
  z-index: 10;
}

.TipBalance {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.75rem;
  text-align: center;
  width: 155px;
  font-size: 95%;

  .VerticalMenu {
    width: 155px;
    min-width: 155px;
  }

  &.mini {
    font-size: 80%;
  }

  &.micro {
    font-size: 70%;
  }
}

.PresetSelector__container {
  display: inline-block;
}

.Withdrawal__way {
  display: inline-block;
  margin-right: 1rem;

  label {
    color: #0078C4;
    text-transform: none;
    cursor: pointer;
    font-size: 100%;
    user-select: none;

    input {
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

.Transfer__encrypted {
  color: #009600;
}

.Transfer__wrong-encrypt {
  color: red;
}
