.UserWallet__balance {
  padding-bottom: 1rem;
  padding-top: 1rem;

  &.UserWallet__balance.zebra {
      @include themify($themes) {
        background: themed('zebra')
      }
  }
}

.UserWallet__buysp {
  margin-right: 0 !important;
  margin-top: 1rem;
}

.UserWallet__dropdown {
}

// protect for foundation bug for collapsed state drop-downs
@media only screen and (max-width: 40em) {
    .Wallet_dropdown {
        left: 10px!important;
    }
}
