.UserWallet__balance {
  padding-bottom: 1rem;
  padding-top: 1rem;

  &.UserWallet__balance.zebra {
      @include themify($themes) {
        background: themed('zebra')
      }
  }
}

.UserWallet__buysp {
  margin-right: 0 !important;
  margin-top: 1rem;
}

.UserWallet__dropdown {
}

.PowerCalc {
    cursor: pointer;

    .Icon {
        vertical-align: top;
        padding-top: 3px;
        margin-right: 5px;
    }

    &:not(.disabled) {
        path {
            fill: #0078C4;
        }
    }
}

.Wallet__claim_button {
    margin-bottom: 0px;
}

.emission_apr {
    cursor: pointer;
    vertical-align: top;
    padding: 1px 2px;
    margin-top: 2px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid transparent;
    font-size: 11px;
    border-radius: 3px;
    color: white;
    background-color: #4caf50;

    &.gbg {
        cursor: default;
    }

    &.gray {
        color: gray;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.received_vesting {
    .NotifiCounter {
        margin-left: 0.5rem;
        height: 15px;
    }
}

// protect for foundation bug for collapsed state drop-downs
@media only screen and (max-width: 40em) {
    .Wallet_dropdown {
        left: 10px!important;
    }
}
