.WitnessPropsTable label {
	text-transform: none;
}

.WitnessPropsTable input {
	height: 1.5rem;
}

.WitnessPropsTable input[type="checkbox"] {
	display: block;
}

.WitnessPropsTable td {
	padding: 0 5px;
}
