.CMCSmall {
    margin-left: 0.5rem;
    color: #2572ba;

    a {
        display: inline-block !important;
    }

    .CMCSmall__icon {
        vertical-align: top;
        margin-right: 0.25rem;
    }
}

