.MarketPair {
    display: inline-block;

    .VerticalMenu>li>a {
        padding: .3rem 1rem;
        color: #333;
    }
}

.MarketPair__label {
    margin-bottom: 4px;
}

.MarketPair__selected {
    margin-bottom: 4px;
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.MarketPair__pagination {
    display: inline-block !important;
    width: 100px;
    font-size: 16px;
}
