@use 'sass:map';

@use '@styles/foundation-settings' as fs;
@use '@styles/layout' as lay;
@use '@styles/mixins' as mixins;
@use '@styles/variables' as v;

$themes: (
  original: (
    colorAccent: v.$color-blue,
    colorAccentHover: v.$color-blue-original-light,
    colorAccentReverse: v.$color-blue-original-light,
    colorWhite: v.$color-white,
    backgroundColor: v.$color-background-off-white,
    backgroundColorEmphasis: v.$color-background-almost-white,
    backgroundColorOpaque: v.$color-background-off-white,
    backgroundTransparent: transparent,
    zebra: fs.$gray95,
    highlighted: #FFD,
    moduleBackgroundColor: v.$color-white,
    menuBackgroundColor: v.$color-background-dark,
    summaryBackgroundColor: v.$color-white,
    moduleMediumBackgroundColor: v.$color-white,
    navBackgroundColor: v.$color-white,
    highlightBackgroundColor: #f3faf0,
    tableRowEvenBackgroundColor: #f4f4f4,
    border: 1px solid v.$color-border-light,
    borderLight: 1px solid v.$color-border-light-lightest,
    borderDark: 1px solid v.$color-text-gray,
    borderAccent: 1px solid v.$color-blue,
    borderDotted: 1px dotted v.$color-border-light,
    borderTransparent: transparent,
    iconColorSecondary: #cacaca,
    textColorPrimary: v.$color-text-dark,
    textColorSecondary: v.$color-text-gray,
    textColorAccent: v.$color-text-blue,
    textColorAccentHover: v.$color-blue-original-dark,
    textColorError: v.$color-text-red,
    contentBorderAccent: v.$color-transparent,
    buttonBackground: v.$color-blue-original-dark,
    buttonBackgroundHover: v.$color-blue-original-light,
    buttonText: v.$color-text-white,
    buttonTextShadow: 0 1px 0 rgba(0,0,0,0.20),
    buttonTextHover: v.$color-text-white,
    buttonBoxShadow: v.$color-transparent,
    modalBackgroundColor: v.$color-background-almost-white,
    modalTextColorPrimary: v.$color-text-dark,
  ),
  light: (
    colorAccent: v.$color-teal,
    colorAccentHover: v.$color-teal-dark,
    colorAccentReverse: v.$color-blue-black,
    colorWhite: v.$color-white,
    backgroundColor: v.$color-background-off-white,
    backgroundColorEmphasis: v.$color-background-almost-white,
    backgroundColorOpaque: v.$color-background-off-white,
    backgroundTransparent: transparent,
    moduleBackgroundColor: v.$color-white,
    menuBackgroundColor: v.$color-background-dark,
    summaryBackgroundColor: v.$color-white,
    zebra: fs.$gray95,
    highlighted: #FFD,
    moduleMediumBackgroundColor: v.$color-transparent,
    navBackgroundColor: v.$color-white,
    highlightBackgroundColor: #f3faf0,
    tableRowEvenBackgroundColor: #f4f4f4,
    border: 1px solid fs.$light-gray,
    borderLight: 1px solid v.$color-border-light-lightest,
    borderDark: 1px solid v.$color-text-gray,
    borderAccent: 1px solid v.$color-teal,
    borderDotted: 1px dotted v.$color-border-light,
    borderTransparent: transparent,
    iconColorSecondary: #cacaca,
    textColorPrimary: v.$color-text-dark,
    textColorSecondary: v.$color-text-gray,
    textColorAccent: v.$color-text-teal,
    textColorAccentHover: v.$color-teal,
    textColorError: v.$color-text-red,
    contentBorderAccent: v.$color-teal,
    buttonBackground: v.$color-white,
    buttonBackgroundHover: v.$color-teal,
    buttonText: v.$color-text-white,
    buttonTextShadow: 0 1px 0 rgba(0,0,0,0.20),
    buttonTextHover: v.$color-white,
    buttonBoxShadow: v.$color-teal,
    buttonBoxShadowHover: v.$color-blue-black,
    modalBackgroundColor: v.$color-white,
    modalTextColorPrimary: v.$color-text-dark,
    modalReminder: #d0edff,
  ),
  dark: (
    colorAccent: v.$color-teal,
    colorAccentHover: v.$color-teal,
    colorAccentReverse: v.$color-white,
    colorWhite: v.$color-white,
    backgroundColor: v.$color-background-dark,
    backgroundColorEmphasis: v.$color-background-super-dark,
    backgroundColorOpaque: v.$color-blue-dark,
    moduleBackgroundColor: v.$color-background-dark,
    backgroundTransparent: transparent,
    menuBackgroundColor: v.$color-blue-dark,
    summaryBackgroundColor: fs.$black-gray,
    moduleMediumBackgroundColor: v.$color-background-dark,
    navBackgroundColor: v.$color-background-dark,
    highlightBackgroundColor: v.$color-blue-black-darkest,
    zebra: fs.$black-gray,
    highlighted: fs.$black-gray,
    tableRowEvenBackgroundColor: #212C33,
    border: 1px solid v.$color-border-dark,
    borderLight: 1px solid v.$color-border-dark-lightest,
    textColorPrimaryborderDark: 1px solid v.$color-text-gray-light,
    borderAccent: 1px solid v.$color-teal,
    borderDotted: 1px dotted v.$color-border-dark,
    borderTransparent: transparent,
    iconColorSecondary: v.$color-text-gray-light,
    textColorPrimary: v.$color-text-white,
    textColorSecondary: v.$color-text-gray-light,
    textColorAccent: v.$color-teal,
    textColorAccentHover: v.$color-teal-light,
    textColorError: v.$color-text-red,
    contentBorderAccent: v.$color-teal,
    buttonBackground: v.$color-blue-black,
    buttonBackgroundHover: v.$color-teal,
    buttonText: v.$color-blue-dark,
    buttonTextShadow: 0 1px 0 rgba(0,0,0,0),
    buttonTextHover: v.$color-white,
    buttonBoxShadow: v.$color-teal,
    buttonBoxShadowHover: v.$color-white,
    inputPriceWarning: rgba(255, 153, 0, 0.83),
    modalBackgroundColor: v.$color-white,
    modalTextColorPrimary: v.$color-text-dark,
    modalReminder: v.$color-blue-dark,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      @content($map);
    }
  }
}

@function themed($key, $map) {
  @return map.get($map, $key);
}


  .theme-original {
    background-color: fs.$white;
    color: v.$color-text-dark;
    @include lay.MQ(M) {
      background-color: v.$color-background-off-white;
    }
  }
  .theme-light {
    background-color: fs.$white;
    color: v.$color-text-dark;
    @include lay.MQ(M) {
      background-color: v.$color-background-off-white;
    }

    thead, tbody, tfoot {
        background-color: v.$color-background-off-white;
    }
  }
  .theme-dark {
    background-color: v.$color-background-dark !important;
    color: v.$color-text-white;

    thead, tbody, tfoot {
        border: none;
        background-color: v.$color-background-dark !important;
        color: v.$color-text-white;
    }

    tbody tr:nth-child(even) {
        background-color: fs.$black-gray;
    }

    .highcharts-background {
        fill: v.$color-background-dark;
    }

    .MarkdownEditor_comment .CodeMirror {
        background: #3e494c;
    }

    .VerticalMenu {
       li > a:hover {
        color: v.$color-background-dark !important;
      }
    }

    .UserProfile__banner {
        > div.column {
            background: v.$color-background-dark;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    .msgs-sidebar {
      background: #1c252b;
    }

    .msgs-content {
      background: #1c252b;
    }

    .msgs-compose {
        border-top: 1px solid #373737;
        background: #1c252b;
    }

    @supports (backdrop-filter: blur(20px)) {
        .msgs-compose {
            background-color: rgba(28, 37, 43, 0.5);
            backdrop-filter: blur(20px);
        }
    }

    .msgs-toolbar {
        border-bottom: 1px solid #373737;
        background-color: #1c252b;
    }

    @supports (backdrop-filter: blur(20px)) {
        .msgs-toolbar {
            background-color: rgba(28, 37, 43, 0.5);
            backdrop-filter: blur(20px);
        }
    }

    .msgs-compose-input {
        color: v.$color-text-white !important;
    }

    .msgs-compose-input::placeholder {
        color: v.$color-text-white !important;
    }

    .conversation-list-item.selected {
        background: #002346 !important;
    }

    .msgs-message .timestamp {
        color: v.$color-text-white;
    }

    .msgs-message:not(.mine) .bubble-container:not(.selected) .bubble {
        color: v.$color-background-dark;
    }

    .conversation-search-input {
        background: #373737 !important;
        color: v.$color-text-white !important;
    }

    .conversation-search-input::placeholder {
        color: v.$color-text-white !important;
    }
  }


// Utility classes to be used with @extend

.link {
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  &--primary {
    @include themify($themes) using ($theme) {
        color: themed('textColorPrimary', $theme);
    }
    &:visited, &:active {
      @include themify($themes) using ($theme) {
          color: themed('textColorPrimary', $theme);
      }
    }
    &:hover, &:focus {
      @include themify($themes) using ($theme) {
          color: themed('textColorAccent', $theme);
      }
    }
  }
  &--secondary {
    @include themify($themes) using ($theme) {
        color: themed('textColorSecondary', $theme);
    }
    &:visited, &:active {
      @include themify($themes) using ($theme) {
          color: themed('textColorSecondary', $theme);
      }
    }
    &:hover, &:focus {
      @include themify($themes) using ($theme) {
          color: themed('textColorAccent', $theme);
      }
    }
  }
  &--accent {
    @include themify($themes) using ($theme) {
        color: themed('textColorAccent', $theme);
    }
    &:visited, &:active {
      @include themify($themes) using ($theme) {
          color: themed('textColorAccent', $theme);
      }
    }
    &:hover, &:focus {
      @include themify($themes) using ($theme) {
          color: themed('textColorAccentHover', $theme);
      }
    }
  }
}

.e-btn-hollow {
  background-color: transparent;
  transition: 0.2s all ease-in-out;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  @include themify($themes) using ($theme) {
    border: themed('borderAccent', $theme);
    color: themed('textColorAccent', $theme);
  }
  &:hover {
    @include themify($themes) using ($theme) {
      border: themed('borderDark', $theme);
      color: themed('textColorPrimary', $theme);
    }
  }
}

.e-btn {
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s all ease-in-out;
  text-transform: capitalize;
  border-radius: 0;
  text-decoration: none;
  @include mixins.font-size(18px);
  @include themify($themes) using ($theme) {
    background-color: themed('buttonBackground', $theme);
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0), 2px 2px 0px 0px themed('buttonBoxShadow', $theme);
    color: themed('buttonText', $theme);
  }
  &:hover, &:focus {
    @include themify($themes) using ($theme) {
      background-color: themed('buttonBackgroundHover', $theme);
      box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.1), 4px 4px 0 0 themed('buttonBoxShadowHover', $theme);
      color: themed('buttonTextHover', $theme);
      text-shadow: themed('buttonTextShadow', $theme);
    }
  }
  &:visited, &:active {
    @include themify($themes) using ($theme) {
      color: themed('buttonText', $theme);
    }
    &:hover, &:focus {
      @include themify($themes) using ($theme) {
        color: themed('buttonTextHover', $theme);
      }
    }
  }
}

.button.disabled, .button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
}

// This button class doesn't applying theming (just straight styles). To be used when there are no theming classes available (e.g. in modals and static server pages in signup)

.e-btn {
  &--black {
    background-color: v.$color-blue-black;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0), 5px 5px 0 0 v.$color-teal;
    color: v.$color-white;
    &:hover, &:focus {
      background-color: v.$color-teal;
      box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.1), 7px 7px 0 0 v.$color-blue-black;
      color: v.$color-white;
      text-shadow: 0 1px 0 rgba(0,0,0,0.20);
    }
    &:visited, &:active {
      background-color: v.$color-blue-black;
      box-shadow: 0px 0px 0px 0 rgba(0,0,0,0), 5px 5px 0 0 v.$color-teal;
      color: v.$color-white;
    }
    &.disabled, &[disabled] {
      opacity: 0.25;
      cursor: not-allowed;
      box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
      &:hover, &:focus {
        box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
        background-color: v.$color-blue-black;
        color: v.$color-white;
      }
    }
    &.hollow {
      background-color: transparent;
      box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
      color: v.$color-text-gray;
      font-weight: normal;
      transition: 0.2s all ease-in-out;
      border: transparent;
      &:hover, &:focus {
        background-color: transparent;
        box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
        color: v.$color-blue-dark;
        font-weight: normal;
        text-shadow: 0 1px 0 rgba(0,0,0,0.0);
      }
      &:visited, &:active {
        background-color: transparent;
        box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
        color: v.$color-text-gray;
        font-weight: normal;
      }
    }
  }
}


.theme-dark {
  .button.hollow {
    &:hover, &:focus {
      border-color: v.$color-teal;
      color: v.$color-teal;
      outline-color: v.$color-teal;
    }
  }
}

.reveal, .dropdown-pane {
  @include themify($themes) using ($theme) {
    background-color: themed('summaryBackgroundColor', $theme);

    color: themed('textColorPrimary', $theme);

  }
}

label {
  @include themify($themes) using ($theme) {
    color: themed('textColorSecondary', $theme);
  }
}

.dropdown-pane li:hover {
  @include themify($themes) using ($theme) {
      a {
        color: themed('textColorSecondary', $theme);
      }
  }
}
