.toast-content {
    width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding: 1rem;
    color: rgb(107, 114, 128);
}

.toast-action {
    display: flex;
    align-items: center;
    border-left: 1px solid rgb(229, 231, 235);
    padding: 1rem;
    font-size: 90%;
    font-weight: 500;
    color: #2572ba;
    cursor: pointer;
}
